@import "bootstrap";
@font-face {
    font-family: 'Quicksand';
    src: url('/fonts/Quicksand-VariableFont_wght.ttf');
}
*{
    font-family: 'Quicksand';
}

#app{
    display:flex;
    flex-flow: column;
    min-height: 100vh;
}
main{
    display:flex;
    flex-flow: column;
    justify-content:center;
    align-items: center;
    flex: 1 1 auto;
}